/* styles.css */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://wallpapercave.com/wp/wp3396915.jpg');
    background-size: cover;
    background-position: center;
}

header {
    background-color: rgba(51, 51, 51, 0.7); /* Fondo semi transparente */
    padding: 20px 0;
    margin-bottom: 20px; /* Agregar margen inferior */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo-container {
    margin-left: 20px;
}

.logo {
    width: 150px;
    height: auto;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
}

.search-container {
    margin-right: 20px;
    margin-bottom: 20px;
}

.search-container input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 4px;
}

.search-container button {
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.welcome p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto 100px; /* Centrar y agregar margen inferior */
}

.info-box {
    width: calc(50% - 40px); /* El ancho es el 50% del contenedor menos el margen */
    margin: 20px auto; /* Centrar y agregar margen exterior */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco semi transparente */
    border-radius: 10px;
    border: 2px solid #333; /* Borde de 2px sólido */
}

.info-box-left {
    margin-right: auto; /* Posicionar a la izquierda */
    margin-left: 0;
}

.info-box-right {
    margin-left: auto; /* Posicionar a la derecha */
    margin-right: 0;
}

.info-box p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin: 0; /* Eliminar el margen interno */
}

.welcome {
    margin-bottom: 50px; /* Añadir margen inferior al contenedor principal ACA SE HACE LA SEPARACION DE LOS CUADROS DE TEXTO */
    padding: 20px; /* Añadir relleno al contenedor principal */
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco semi transparente */
    border-radius: 10px;
    border: 2px solid #333; /* Borde de 2px sólido */
}
